<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonicad</title>
	<script type="text/javascript" src="public/vendor/angular/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="public/vendor/bootstrap/dist/css/bootstrap.css">
	<style type="text/css">
		.jumbotron{
			width: 400px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}
		.table{
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
		}
	</style>
	<script type="text/javascript">
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.app = "Lista Telefonica";
			$scope.contatos =[
				{nome: "Pedro", telefone: "999998888"},
				{nome: "Ana", telefone: "999986867"},
				{nome: "Maria", telefone: "8988889999"}
			];
			$scope.adicionarContato = function(contato){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table table-striped">
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
			</tr>
			<tr ng-repeat="contato in contatos">
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
			</tr>
		</table>
		<hr />
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
	</div>
</body>
</html>